<footer>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col">
            CST336 Internet Programming. 2020&copy; Altawil <br />
            <strong>Disclaimer:</strong> The information in this webpage is for CST336 Internet Programming, HW4
            </div>
            <div class="col"></div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>