<hr />
<nav>
    <a href="/">Home</a>
    <a href="/c++.php">C++ Language</a>
    <a href="/java.php">Java Language</a>
    <a href="/javascript.php">Javascript Language</a>
    <a href="/python.php">Python Language</a>
</nav>
<hr>
<br /><br />