<%- include('partials/header.ejs') %>
            
            <p align:"center"></p>
            <a href="index.ejs">Home</a>
            <a href="c++.ejs">C++</a>
            <a href="javascript.ejs">JavaScript</a>
            <a href="python.ejs">Python</a>
            <a href="java.ejs">Java</a>
            <p align="center">       
            </nav>
            <br /><br />
            <main>
                <figure>
                    <img src="img/c++.png" height="450">    
                </figure>
                <div>
                  <p>Hello <%= randomName %>!</p>
                  <p> C++ is a general-purpose programming 
            language that is very popular to use and is
            one of the easiest language to adapt too. 
            Bjarne Stroustrup, the creator of C++. The language 
            has expanded significantly over time, and modern C++ now 
            has object-oriented, generic, and functional 
            features in addition to facilities for 
            low-level memory manipulation. It is almost 
            always implemented as a compiled language, and 
            many vendors provide C++ compilers. Many popular
            companies that use C++ are LinkedIn, Facebook, Microsoft,
            and NASA. C++ is a unique language that it can be used
            for about anything.</p>
                <br /><br />
                </div>
            </main>
<%- include('partials/footer.ejs') %>
