<%- include('partials/header.ejs') %>
            
            <p align:"center"></p>
            <a href="index.html">Home</a>
            <a href="c++.html">C++</a>
            <a href="javascript.html">JavaScript</a>
            <a href="python.html">Python</a>
            <a href="java.html">Java</a>
            <p align="center">       
            </nav>
            <br /><br />
            <main>
                <figure>
                    <img src="img/javascript.png" height="450">    
                </figure>
                <div>
                  <p>JavaScript, often abbreviated as JS, 
            is a programming language that conforms to the 
            implementation to display context of any kind of 
            information that programmers can use. JavaScript is high-level, 
            often compiled and multi-paradigm. 
            It has curly-bracket syntax, dynamic typing, 
            prototype-based object-orientation, and first-class 
            functions. Along with HTML and CSS, JavaScript is one of the 
            core technologies of the World Wide Web.
            JavaScript enables interactive web pages and is an 
            essential part of web applications. Companies like
            Paypal, Uber, Google, eBay, Netflix, and Groupon are all
            using JavaScript. However, the vast majority of 
            websites use it for client-side page behavior, and all 
            major web browsers have a dedicated JavaScript engine to 
            execute it.</p>
                <br /><br />
                </div>
            </main>
<%- include('partials/footer.ejs') %>